---
import Layout from "../layouts/IndexLayout.astro";
import Navbar from "../components/Navbar.astro";
import Card from "../components/Card.astro";
---

<Layout title="inQoute">
  <div class="max-w-5xl mx-auto flex flex-col h-[100vh]">
    <Navbar />
    <div class="flex">
      <Card />
    </div>
  </div>
</Layout>

<!-- Import Font -->
<style>
  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
</style>
